body {
    
    background-color: deepskyblue;
    color: black;
   

}



header {
    display: flex;
    justify-content: center;
}

h1 {
    
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    color: white;
    
}


#game-display {

    display: flex;
    justify-content: center;

}

#canvas1 {

    border-radius: 10px;
}