body {
    
    background-color: deepskyblue;
    color: black;
   

}



header {
    display: flex;
    justify-content: center;
}

h1 {
    
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    color: white;
    
}


#game-display {

    display: flex;
    justify-content: center;

}

#canvas1 {

    border-radius: 10px;
    position: relative;
}

#textInput {

    position: absolute;
    left: 1090px;
    top: 500px;
    z-index: 1;
    width: 200px;
    font-size: 2rem;
}


/* #vowelInput {


}

#consonantInput {


} */


#title {
    display: flex;
    height: 6rem;

}


.titleLetter {

    background-color: blue;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

