body {
    
    background-color: deepskyblue;
    color: black;
   

}



header {
    display: flex;
    justify-content: center;
}

h1 {
    
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
}


#game-display {

    display: flex;
    justify-content: center;

}

